:root {
  /* Colors */
  --white-color: #fff;
  --black-color: #000;
  --red-color: #db2512;
  --gray-color: #b7b7b7;

  /* Fonts & Weight */
  --font: 'Poppins', sans-serif;
  --size-15: 15px;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
}
